<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.schola_ver3">

    <uses-permission android:name="android.permission.INTERNET" />
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Schola_ver3"
        tools:targetApi="31">
        <activity
            android:name=".Boot"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReviewListActivity"
            android:label="レビュー一覧"
            android:parentActivityName=".MainActivity_egu">
            <!-- Up navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity_egu" />
        </activity>
        <activity
            android:name=".EvaluationBuySend"
            android:exported="false" />
        <activity
            android:name=".EvaluationBuySuccess"
            android:exported="false" />
        <activity
            android:name=".EvaluationBuy"
            android:exported="false" />
        <activity
            android:name=".BuySuccess"
            android:exported="false" />
        <activity
            android:name=".EvaluationSell"
            android:exported="false" />
        <activity
            android:name=".EvaluationSellSend"
            android:exported="false" />
        <activity
            android:name=".EvaluationSellSuccess"
            android:exported="false" />
        <activity
            android:name=".MyPage"
            android:exported="false" />
        <activity android:name=".AccountInfomation" />
        <activity android:name=".Login" />
        <activity android:name=".Logoutsub" />
        <activity android:name=".MainActivity_egu" />
        <activity android:name=".MemberRegistration" />
        <activity android:name=".MemberComp" />
        <activity android:name=".TestActivity" />
        <activity android:name=".HomePage" />
        <activity android:name=".Exhibit" />
        <activity android:name=".ProductSearch" />
        <activity android:name=".ExhibitList" />
        <activity android:name=".SearchResult" />
        <activity android:name=".ExhibitSave" />
        <activity android:name=".ExhibitSuccess" />
        <activity android:name=".ExhibitEdit" />
        <activity android:name=".ExhibitDetails" />
        <activity android:name=".ExhibitShiped" />
<!--        <activity android:name=".QuickResponse" />-->
        <activity android:name=".ProductDetail" />
        <activity android:name=".ExhibitCancel" />
        <activity android:name=".Buy" />
        <activity android:name=".BuyCheck" />
        <activity android:name=".Setting" />
        <activity android:name=".MemberView" />
        <activity android:name=".MemberUpdate" />
        <activity android:name=".MemberDelete" />
        <activity android:name=".Rule" />
        <activity android:name=".SalesTransfer" />
        <activity android:name=".SalesTransferCheck" />
        <activity android:name=".SalesTransferSuccess" />
        <activity android:name=".ShippingRegistration" />
        <activity android:name=".CreditSetting" />
        <activity android:name=".ParentRegistration" />
        <activity android:name=".ParentCertification" />
        <activity android:name=".FavoriteList" />
        <activity android:name=".PurchasedList" />
    </application>

</manifest>